.header-container {
    display: flex;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    display: flex
}

.header-links {
    flex: 1;
    justify-content: center;
}

.main-content {
    display: flex;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
}

#main-image {
    height: auto;
    width: 50vw;
    justify-content: center;
}

#gallery-title {
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.gallery-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-image img {
    height: auto;
    width: 200px;
}

.gallery-image span {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

