.header-container {
    display: flex;
}

.header-left {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-indent: 10vw;
}

.header-right {
    flex: 1;
    display: flex
}

.header-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-container, .main-content, .footer {
    background-color: #1F2937;
}

.main-content {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
}

#main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#secondary-text, .header-links {
    font-size: 18px;
    color: #E5E7EB
}

#main-button {
    font-family: inherit;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #3882F6;
    border-radius: 5px; 
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

#main-image {
    height: auto;
    width: 30vw;
    justify-content: center;
}

#gallery-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.gallery-container{
    padding-left: 20vw;
    padding-right: 20vw;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 100px;
}

.gallery-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.gallery-image > img {
    height: auto;
    width: 200px;
    border-radius: 20px;
    border: 5px solid #3882F6;
    margin-bottom: 5px;
}

.gallery-image > div {
    color: rgb(83, 81, 81);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.quote-container {
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
}

#quote {
    text-align: center;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

#quotee {
    text-align: right;
}

.sign-up-container {
    display: flex;
    background-color: #3882F6;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sign-up-button {
    font-family: inherit;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 5px; 
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.sign-up-left {
    flex: 2;
}

.sign-up-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer {
    height: 50px;
    color: white;
}

.footer > p {
    text-align: center;
}