.header-container {
    display: flex;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    display: flex
}

.header-links {
    flex: 1;
    justify-content: center;
}

.main-content {
    display: flex;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
}

.right-content img {
    height: 350px;
    width: auto;
    justify-content: center;
}